# ---------------------------------------------------------------------------
# Configuración del Entorno - Ferretería Adrialga C.A. ERP/POS
# ---------------------------------------------------------------------------

# Clave secreta para la firma de tokens JWT y cookies de sesión (¡CAMBIAR EN PRODUCCIÓN!)
SECRET_KEY=9a82647db0916ff46817293a38b1f582f3c0db692b1b3b1f574d7883db61a7a0

# Algoritmo de firma para tokens JWT
ALGORITHM=HS256

# Tiempo de expiración de la sesión de usuario (en minutos, por defecto 480 = 8 horas)
ACCESS_TOKEN_EXPIRE_MINUTES=480

# URL de conexión a la Base de Datos.
# Para desarrollo local (SQLite):
DATABASE_URL=sqlite:///adrialga.db
# Para producción (PostgreSQL en Render u otro servicio):
# DATABASE_URL=postgresql+psycopg://usuario:clave@host:puerto/nombre_db

# Configuración de depuración (Establecer a False en Producción para activar advertencias de seguridad)
DEBUG=False

# Host y puerto donde escuchará el servidor de desarrollo
HOST=0.0.0.0
PORT=8000

# URL externa provista en despliegues de Render (Opcional, usada para el mecanismo de auto-ping/keep-alive)
RENDER_EXTERNAL_URL=
